// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #166ce6;
$secondary: #3c7fcc;
$accent: #5847ab;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@import "~quasar-variables-styl";
